@import '../abstracts/variables';

.section-heading {
  color: $just-white;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
}

.text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.text-container {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.down-arrow-icon {
  background-image: url("../assets/icons/down-arrow.svg");
  height: 0.8rem;
  min-width: 1.2rem;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap;
  width: 1px !important;
}
