@import '../abstracts/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:focus-visible {
    outline: 0.2rem solid #000000;
    outline-offset: 0.2rem;
  }
}

html {
  font-family: $main-font;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
