@import '../abstracts/variables';

.description {
  background-color: $warm-black;
  padding: 6.4rem 0;
  position: relative;
  width: 100%;

  .batata-icon {
    background-image: url("../assets/icons/batata.svg");
    height: 2.4rem;
    left: calc(50% - 2.05rem);
    position: absolute;
    top: calc(0% - 1.2rem);
    width: 4.1rem;
  }

  .description__heading-container {
    h2 {
      margin-bottom: 2.4rem;
    }

    p {
      color: $light-grey;
      margin-bottom: 3.2rem;
    }
  }

  .description__article {
    background-color: $soft-warm-black;
    border-radius: 0.4rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.7);
    margin-bottom: 1.6rem;
    max-width: 43rem;
    padding: 1.4rem 2rem 2.2rem 1.6rem;
    text-align: initial;

    .icon {
      height: 2.4rem;
      width: 2.4rem;
    }

    .clock-icon {
      background-image: url("../assets/icons/clock.svg");
    }

    .eye-icon {
      background-image: url("../assets/icons/eye.svg");
    }

    .dollar-sign-icon {
      background-image: url("../assets/icons/dollar-sign.svg");
    }

    .check-circle-icon {
      background-image: url("../assets/icons/check-circle.svg");
    }

    h3 {
      color: $just-white;
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 1.8rem;
      margin: 1rem auto;
    }

    p {
      color: $light-grey;
    }
  }
}

@media (min-width: 900px) {
  .description {
    &__articles-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
      max-width: 90rem;
    }
  }
}

@media (min-width: 1700px) {
  .description {
    &__articles-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      max-width: 190rem;
    }
  }
}