@import '../abstracts/variables';

footer {
  align-items: center;
  background-color: $warm-black;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-evenly;
  min-height: 15rem;
  padding: 4rem;
  width: 100%;

  .footer__links-container {
    width: 50%;

    ul {
      column-gap: 4rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      row-gap: 2rem;

      li {
        margin: 0 auto;

        a {
          border-radius: 0.5rem;
          color: $just-white;
          text-decoration: none;
          transition: color 300ms ease-in-out;
        }
        
        a:hover,
        a:focus-visible {
          color: #45b1ff;
        }

        a:focus-visible {
          outline-color: #45b1ff;
          outline-offset: 0.5rem;
        }
      }
    }
  }

  .footer__image {
    width: 10rem;
  }
}

@media (min-width: 900px) {
  footer {
    .footer__links-container {
      ul {
        a {
          font-size: 1.6rem;
        }
      }
    }
  }
}
