@import '../abstracts/variables';

.header {
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
  text-align: center;
  width: 100%;

  &__logo {
    margin: 3.9rem auto 3.3rem;
  }

  &__text-container {
    position: relative;

    p {
      color: $soft-orange;
      margin-top: 2.4rem;
      padding-bottom: 6.1rem;
    }
  }

  &__button {
    align-items: center;
    background-color: $off-white;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.7);
    color: $warm-black;
    display: flex;
    font-family: $main-font;
    font-weight: bold;
    font-size: 1.6rem;
    height: 4.8rem;
    justify-content: center;
    left: calc(50% - 11.45rem);
    line-height: 1.8rem;
    padding: 1.2rem 1.6rem;
    position: absolute;
    text-decoration: none;
    top: calc(100% - 2.7rem);
    transition: background-color 300ms ease-in-out;
    width: 22.9rem;

    &:hover,
    &:focus-visible {
      background-color: $soft-orange;
      color: #000000;
    }

    .down-arrow-icon {
      margin-left: 1rem;
    }
  }
}