@import '../abstracts/variables';

.hero-image-container {
  align-items: center;
  background-image: url("../assets/img/bitcoinbaby.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 38.7rem;
  justify-content: center;
  padding: 6.4rem;
  text-align: center;
  width: 100%;

  h2 {
    background-color: rgba(32, 30, 28, 0.8);
    border-radius: 0.75rem;
    padding: 2rem;
    white-space: nowrap;
  }
}

@media (min-width: 420px) {
  .hero-image-container {
    background-image: url("../../assets/img/bitcoinbaby2x.jpg");

    h2 {
      font-size: 3rem;
    }
  }
}

@media (min-width: 900px) {
  .hero-image-container {
    background-image: url("../../assets/img/bitcoinbaby3x.png");

    h2 {
      font-size: 4rem;
    }
  }
}
