/* COLORS VARIABLES*/
$bitcoin-orange: #F7931A;
$soft-orange: #FFE9D5;
$secondary-blue: #0074c8;
$soft-blue: #E7F5FF;
$warm-black: #201E1C;
$soft-warm-black: #282623;
$grey: #565656;
$light-grey: #b2b2b2;
$off-white: #FAF8F7;
$just-white: #fff;

/* FONTS VARIABLES */
$main-font: 'DM Sans', sans-serif;
$table-font: 'Inter', sans-serif;
